name: Run tests

on:
  push:
  pull_request:

jobs:
  test:
    name: Run tests - PHP ${{ matrix.php }} - Laravel ${{ matrix.laravel }} - ${{ matrix.stability }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: [ ubuntu-latest ]
        php: [ 8.3, 8.4 ]
        laravel: [ 11.*, 12.* ]
        stability: [ prefer-lowest, prefer-stable ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Validate Composer configuration file
        run: composer validate --strict

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: mbstring
          coverage: none

      - name: Install dependencies
        run: |
          composer require "illuminate/database:${{ matrix.laravel }}" "illuminate/support:${{ matrix.laravel }}" --no-interaction --no-update
          composer update --${{ matrix.stability }} --prefer-dist --no-interaction

      - name: Lint code
        run: vendor/bin/pint --test

      - name: Run tests
        run: vendor/bin/phpunit
